.footer {
  width: 100%;
  height: max-content;

  .menuFooter {
    width: 100%;
    height: inherit;
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid rgb(238, 230, 230);
    border-bottom: 1px solid rgb(238, 230, 230);
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      color: rgb(112, 101, 101);
      li {
        margin: 0 8px;
        &:hover{
            text-decoration:underline;
        }
      }
    }
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .infoFooter {
    width: 100%;
    height: max-content;
    padding: 40px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftInfoFooter {
      width: 50%;
      height: 100%;
      h5 {
        color: rgb(100, 96, 90);
      }
      select {
        border: 1px solid black;
        position: relative;
        padding: 10px;
      }
    }
    .rightInfoFooter {
      width: 50%;
      height: 100%;
      ul {
        width: 100%;
        display: flex;
        justify-content: end;
      }
      .iconRightInfoFooter {
        li {
          border-radius: 5px;
          width: 35px;
          height: 22px;
          border: 1px solid rgb(194, 186, 186);
          margin: 0 5px;
          .icon {
            width: 35px;
            height: 22px;
          }
        }
      }
      .InfoRightInfoFooter {
        font-size: 12px;
        margin-top: 10px;
        color: rgb(116, 95, 82);
        li {
            &:hover{
                text-decoration:underline;
            }
        }
      }
    }
  }
}
