.box_buy_product {
  width: 100%;
  height: max-content;
  .box_quantity {
    width: 100%;
    height: max-content;
    span {
      color: rgb(134, 132, 132);
    }
    .box_quantity_number {
      margin: 10px 0 25px 0;
      display: flex;
      width: 35%;
      height: max-content;
      padding: 5px 0;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgb(83, 82, 82);
      font-size: 25px;
      font-weight: 500;
      div {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      span {
        color: black;
        display: block;
        width: 30%;
        text-align: center;
      }
    }
  }
  .box_buy_now {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .select_box_buy_now {
      cursor: pointer;
      width: 30%;
      height: 160px;
      border: 1px solid darkgray;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      text-align: center;
      padding: auto;
      display: grid;
      place-items: center;
      padding: 5px 0;
      margin-bottom: 20px;
      .status_select_box_buy_now{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid darkgray;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        .active_select_box_buy_now {
          width: 70%;
          height: 70%;
          background-color: black;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
}
}
h5 {
  font-weight: 700;
}
}
  }
  .box_buy {
    display: inline;
    width: 100%;
    height: max-content;
    button {
      width: 100%;
      display: block;
      border: 1px solid black;
      padding: 10px 0;
      margin-top: 10px;
      &:hover {
        outline: 2px solid black;
      }
    }
  }
  .other_product_options {
    width: 100%;
    height: max-content;
    padding: 10px;
    border: 1px solid darkgray;
    margin-top: 20px;
    text-align: center;
    h5 {
      font-weight: 700;
    }
    .price_other_product_options {
      display: flex;
      width: 100%;
      height: max-content;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 19px;
      margin-bottom: 20px;
    }
    .by_other_product_options {
      width: 100%;
      display: block;
      margin: auto;
      border: 1px solid black;
      padding: 10px;
      font-weight: 700;
    }
    .info_other_product_options {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      .box_info_other_product_options {
        width: 25%;
        aspect-ratio: 1/1;
        .box_img_other_product {
          width: 100%;
          aspect-ratio: 1/1;
          cursor: pointer;
          .img_other_product {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .box_info_other_product {
          width: 100%;
          height: max-content;
          padding: 10px 0;
          text-align: center;
          h5 {
            cursor: pointer;
            font-weight: 700;
            text-align: start;
            font-size: 13px;
            min-height: 40px;
            height: max-content;
          }
          span {
            display: block;
            color: rgb(134, 132, 132);
            text-align: start;
            margin-bottom: 10px;
          }
          .select_color_other_product {
            width: 100%;
            display: block;
            border: 1px solid darkgray;
            padding: 5px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
      .icon_add1:nth-child(4) {
        order: 2;
        width: max-content;
        display: flex;
        align-items: center;
        margin-top: 5%;
        height: 100%;

        font-size: 40px;
      }
      .icon_add2:nth-child(5) {
        order: 4;
        width: max-content;
        margin-top: 5%;
        height: 100%;

        font-size: 40px;
      }
      .box_info_other_product_options:nth-child(2) {
        order: 3;
      }
      .box_info_other_product_options:nth-child(3) {
        order: 5;
      }
      .box_info_other_product_options:nth-child(1) {
        order: 1;
      }
    }
  }
  .product_introduction {
    width: 100%;
    height: max-content;
    margin-top: 25px;
    .info_product_introduction {
      p {
        color: rgb(134, 132, 132);
        margin-bottom: 10px;
      }
      strong {
        color: black;
        font-weight: 600;
      }
      ul {
        list-style-type: disc;
        padding: 5px 15px;
        color: rgb(134, 132, 132);
      }
    }
    .footer_product_introduction {
        width: 100%;
        height: max-content;
        margin-top: 15px;
        .box_footer_product_introduction {
            padding: 10px 0;
            border-top: darkgray 1px solid;
            display: flex;
            cursor: pointer;
            align-items: center;
            span {
                display: block;
                margin-left: 10px;
            }
        }
    }
  }
}
