.button_demo_guide {
    position: fixed;
    z-index: 1001;
    bottom: 45px;
    right: 45px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    .box_button_demo_guide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        .icon_demo_guide {
            width: 20px;
            height: 20px;
            color: white;
         }
    }
    
}
.box_demo_guide {
    position: fixed;
    z-index: 1001;
    width: 350px;
    z-index: 1000;
    height: max-content;
    right: 30px;
    display: block;
    bottom: 110px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .title1_box_demo_guide{
        width: 100%;
        height: max-content;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        background-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .icon_demo_guide{
            width: 20px;
            height: 20px;
            color: white;
        }
        h3 {
            font-weight: 700;
            color: white;
            margin-left: 5px;
        }
    }
    .title2_box_demo_guide {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid darkgray;
        cursor: pointer;
        p {
            width: 60%;
            font-weight: 700;
        }
    }
    .content_box_demo_guide {
        width: 100%;
        height: max-content;
        padding: 10px 30px 20px 10px;
        line-height: 30px;

    }
    ul {
        display: inline;
        li {
            display: flex;
            align-items: center;
            span {
                margin-left: 5px;
            }
        }
    }
}
.hide {
    display: none;
}