.boxHeader {
  width: 100%;
  height: max-content;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(238, 230, 230);
  .menuHeader {
    width: 50%;
    height: 100%;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: rgb(97, 92, 92);

        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  .supportWeb {
    width: 50%;
    height: 100%;
    ul {
      display: flex;
      float: right;
      align-items: center;
      .quantity_cart {
        position: relative;
        div {
          position: absolute;
          top: 50%;
          right: 10%;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background-color: black;
          font-size: 10px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      li {
        margin-left: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;

        .icon {
          width: 25px;
          height: 25px;

          &:hover {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

.link_demo {
  position: relative;
  .menu_link {
    width: 300px;
    padding: 10px 0;
    height: max-content;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid darkgray;
    z-index: 100;
    li {
      width: 100%;
      padding: 5px 20px;

      &:hover {
        border: none !important;
        color: black;
      }
    }
  }
}
